/*
    1- posicionamiento
    2- modelo de caja
    3- tipografia
    4- visual
    5- otros
*/

/*  Header */
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: 30.2rem;
    height: 33.4rem;

    text-align: center;

    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.logo img{
    width: 15rem;

    margin-top: 5rem;
}

.header--title-container{

    align-self: center;

    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 3.6rem;
}

.header--title-container h1{
    font-size: 2.4rem;
    line-height: 26px;
    color: var(--just-white);
}

.header--title-container p{
    font-size: 1.4rem;
    margin-top: 2.4rem;
    line-height: 18px;


    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 11.5rem);
    top: 27rem;
    align-self: center;

    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-top: 3.6rem ;
    padding: 1.5rem;
    width: 229px;
    height: 48px;

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);

    background: var(--off-white);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;

}

.header--title-container span{

    width: 15px;
    height: 8px;

    background-image: url("../icons/down-arrow.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* MAIN  */

main{

    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-crypto-visualizer-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
}

.main-crypto-visualizer-container .background-img{

    width:195px;
    height:195px;
    margin-top: 60px;

}

.main-crypto-visualizer-container--title {

    min-width: 300px;
    max-width: 900px;
    margin-top: 40px;

    padding:0 16px;

    text-align: center;
}

.main-crypto-visualizer-container--title h2{

    font-size: 2.4rem;
    line-height: 26px;
    color: var(--warm-black);

}
.main-crypto-visualizer-container--title p{

    margin-top: 24px;

    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 500;

    color: #757575;

}

/*  tabla de precios */
.main-crypto-visualizer-container--table {

    display: flex;
    flex-direction: column;


    width: 246px;
    margin-top: 40px;

    padding: 0 16px;

    background-color: var(--just-white);

}
.main-crypto-visualizer-container--table .table{

    margin-top:12px;

}



.main-crypto-visualizer-container--table h3{

        font-size: 1.8rem;
        line-height: 23px;
        font-weight: 700;


        color: var(--bitcoin-orange);

}



.main-crypto-visualizer-container--table .table ul{

    display: grid;
    grid-template-columns: 1fr 1fr 50px;

    align-items: center;

    height: 40px;


    list-style: none;
    border-bottom: 1px solid #E0E0E0;
}

.main-crypto-visualizer-container--table .table ul:nth-child(4){

    border: none;
}

.main-crypto-visualizer-container--table .table ul li:nth-child(1){

    color: #B5B0AC;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: -0.02em;

}

.main-crypto-visualizer-container--table .table ul li:nth-child(2){

    font-size: 1.4rem;
    line-height: 17px;
    text-align: center;

    color: #757575;

}


.main-crypto-visualizer-container--table .table ul li .id{
    width: 15px;
    height: 15px;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-crypto-visualizer-container--table .table ul li .down{
    width: 15px;
    height: 15px;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-crypto-visualizer-container--update-time {
    width: 173px;
    height: 31px;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 64px;

    background-color: var(--soft-orange);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.main-crypto-visualizer-container--update-time span:nth-child(1){
    font-size: 1.2rem;
    line-height: 15px;
    font-weight: 700;
    color: var(--warm-black);

}
.main-crypto-visualizer-container--update-time span:nth-child(2){
    font-size: 1.2rem;
    line-height: 15px;

    color: var(--warm-black);

}

/* description section  */

.main-description{
    position: relative;
    width: 100%;
    min-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);

}

.main-description h2{

        font-size: 2.4rem;
        line-height: 26px;
        color: var(--just-white);
    text-align: center;
    margin-top: 64px;

}
.main-description > p{

            font-size: 1.4rem;
            line-height: 18px;
            font-weight: 500;
            color: #808080;
            text-align: center;
            margin-top: 24px;
    margin-bottom: 32px;
}



.main-description--article{
    width: 288px;
    height: auto;


    background: #282623;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 16px;
}

.main-description--article{
    width: 288px;
    height: auto;


    background: #282623;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 16px;
}

.main-description .batatabit-icon{
    position: absolute;

    top: calc(0% - 12.5px);
    left: calc(50% - 20px);

    width: 40px;
    height: 24px;
    background-image: url("/icons/batata.svg");


}

.main-description--article-content .article--icon{

    width: 24px;
    height: 24px;
    margin: 10px 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.main-description--article .time{
    background-image: url("/icons/clock.svg");
}
.main-description--article .eye{
    background-image: url("/icons/eye.svg");
}
.main-description--article .usd{
    background-image: url("/icons/dollar-sign.svg");
}
.main-description--article .check-icon{
    background-image: url("/icons/check-circle.svg");
}




.main-description--article h3{
    font-size: 1.8rem;
    line-height: 18px;
    font-weight: 700;
    color: var(--just-white);
    text-align: start;
}
.main-description--article p{
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 500;
    color: #808080;

    margin-top: 12px;
}


